
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate(0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper:before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper:before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --fashion-slider-font-family: sans-serif;
  --fashion-slider-button-side-offset: 32px;
  --fashion-slider-button-mobile-side-offset: 24px;
  --fashion-slider-button-mobile-bottom-offset: 16px;
  --fashion-slider-title-font-size: 80px;
  --fashion-slider-title-line-height: 1.2;
}
.fashion-slider {
  width: 100%;
  height: 100%;
  font-family: var(--fashion-slider-font-family);
}
.fashion-slider-no-transition {
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;
  transition-property: none !important;
}
.fashion-slider-no-transition *:not(.swiper-wrapper) {
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;
  transition-property: none !important;
}
.fashion-slider-no-transition .swiper-wrapper {
  transition-delay: 0ms !important;
}
.fashion-slider .swiper {
  width: 100%;
  height: 100%;
  transition: 1s background-color 1.3s;
}
.fashion-slider .swiper-wrapper {
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
.fashion-slider .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fashion-slider-title {
    display: flex;
    flex-direction: column;

  transition-delay: 1s;
  z-index: 10;
}
.fashion-slider-title-text {
  font-weight: 700;
  font-size: var(--fashion-slider-title-font-size);
  line-height: var(--fashion-slider-title-line-height);
  letter-spacing: -1px;
  color: transparent;
  -webkit-text-stroke: 2px white;
}
.fashion-slider-scale {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.6);
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  opacity: 0.9;
  overflow: hidden;
}
.fashion-slider-scale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2) translate(50%);
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  transition-property: transform;
}
.fashion-slider-button {
  transition: 0.5s;
  outline: none;
  position: absolute;
  width: 140px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.fashion-slider-button svg {
  display: block;
  transition: 0.5s;
}
.fashion-slider-button .fashion-slider-svg-circle-wrap {
  transition: 0.5s;
  transform-origin: -20px 40px;
  opacity: 1;
}
.fashion-slider-button circle {
  transition: 0.5s;
  stroke-width: 2px;
  stroke: #fff;
  fill: none;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  opacity: 1;
  transform-origin: 0px 0px 0px;
}
.fashion-slider-button .fashion-slider-svg-arrow {
  transition: 0.5s;
  fill: #fff;
  transform: rotateY(180deg) translate(-55px, 36.1px) scale(1.75);
}
.fashion-slider-button-prev {
  left: var(--fashion-slider-button-side-offset);
}
.fashion-slider-button-next {
  right: var(--fashion-slider-button-side-offset);
}
@media (max-width: 640px) {
  .fashion-slider-button {
    top: auto;
    bottom: var(--fashion-slider-button-mobile-bottom-offset);
    transform: none;
  }
  .fashion-slider-button-prev {
    left: var(--fashion-slider-button-mobile-side-offset);
  }
  .fashion-slider-button-next {
    right: var(--fashion-slider-button-mobile-side-offset);
  }
}
.fashion-slider-button-disabled {
  opacity: 0.2;
  cursor: default;
}
.fashion-slider-button .fashion-slider-svg-wrap {
  transform: translateY(353px);
}
.fashion-slider-button-next .fashion-slider-svg-wrap {
  transform: translateY(353px) rotateY(180deg);
  transform-origin: 80px 0px 0px;
}
.fashion-slider-button .fashion-slider-svg-line {
  transition: 0.5s;
  stroke: #fff;
  stroke-width: 2;
  transform: translate(50px, 42px);
}
.fashion-slider-button-prev:not(.fashion-slider-button-disabled):hover svg {
  transform: translate(-16px);
}
.fashion-slider-button-next:not(.fashion-slider-button-disabled):hover svg {
  transform: translate(16px);
}
.fashion-slider-button:not(.fashion-slider-button-disabled):hover
  .fashion-slider-svg-circle-wrap {
  transform: scale(1.1);
}
.fashion-slider-button:not(.fashion-slider-button-disabled):hover circle {
  stroke-dasharray: 4px;
  stroke-dashoffset: 4px;
  opacity: 1;
}
.fashion-slider-button:not(.fashion-slider-button-disabled):hover
  .fashion-slider-svg-arrow {
  transform: rotateY(180deg) translate(-40px, 36.1px) scale(1.75);
}
.fashion-slider-button:not(.fashion-slider-button-disabled):hover
  .fashion-slider-svg-line {
  transform: translate(35px, 42px) scaleX(0.5);
}

#stories {
  margin-top: 200px;
  height: 50vh;
  color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fashion-slider {
  --fashion-slider-title-font-size: 88px;
}
@media (max-width: 480px) {
  .fashion-slider {
    --fashion-slider-title-font-size: 60px;
  }
}
